[submodule "wasm/third_party/externals/skia"]
	path = wasm/third_party/externals/skia
	url = https://github.com/google/skia.git
[submodule "wasm/third_party/externals/googletest"]
	path = wasm/third_party/externals/googletest
	url = https://github.com/google/googletest.git
[submodule "wasm/third_party/externals/emsdk"]
	path = wasm/third_party/externals/emsdk
	url = https://github.com/emscripten-core/emsdk.git
