.vscode/settings.json
.vscode-test

node_modules

packages/wasm/c++/.clangd
packages/wasm/c++/build
packages/wasm/c++/build_test
packages/wasm/src/sksl-wasm.js

packages/extension/build
packages/extension/LICENSE
packages/extension/README.md
packages/extension/sksl.vsix

packages/integration-test/build
